# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# vscode
.vscode

# OS
Thumbs.db
.DS_Store

# Maven
target
.factorypath

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
